<body>
<div id="primary">
  <h1>Submit your recipe!</h1>
<br/>
  <div id="primary">
   <div class="row">
    <div class="col-md-8">
      <form class="inline form">
        <table width="500">
          <tbody>
            <tr>
            <td width="100">Your Name:</td>
             <td><input 
                 ng-model="sCtrl.newRecipe.name"
                 class="form-control" 
                 type="text" 
                 placeholder="text-holder">
             </td>
            </tr>
            <tr>
            <td width="100">Your Email:</td>
             <td><input 
                 ng-model="sCtrl.newRecipe.email"
                 class="form-control" 
                 type="text" 
                 placeholder="text-holder">
             </td>  
            </tr>
            <tr>
            <td height="200">Your ingredients:</td>
              <td>
              <textarea
                 ng-model="sCtrl.newRecipe.ingredients"
                 class="form-control" rows="15" columns="90" 
                 type="text" 
                 placeholder="text-holder"></textarea>
              </td>
              
            </tr>
            <tr>
            <td height="200">Directions:</td>
              <td>
              <textarea
                 ng-model="sCtrl.newRecipe.directions"
                 class="form-control" rows="15" columns="90" 
                 type="text" 
                 placeholder="text-holder"></textarea>
              </td>             
            </tr> 
          
        </tbody>
       </table>
     </form>
  <p>&nbsp;</p>
  <button ng-click="sCtrl.addRecipe()">Submit</button>
   </div>
  
  <div id="secondary" class="col-md-4">This side column is where the families pages will live! 
    <div class="row">
       <h4>Family Pages</h4>
      <ul>
       <li>Steinolfsons</li>
       <li>Ottens</li>
       <li>Buxengards</li>
       <li>Culver</li>
       <li>Cameron</li>
       <li>Heck</li>
       <li>Penn</li>
       <li>Steinolfsons</li>
       <li>Steinolfsons</li>
       <li>Steinolfsons</li>
      </ul>
     </div>     
  </div>
  </div>
 </div>

  
  <!--FOOTER-->
  <div id="footer"> 
  <h6>Get weekly recipes, delivered to your inbox!</h6>
      <footer>      
      <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default" style="margin:0; border:0;">Submit</button>
    </form>
    <br/>
  <p>This page Copyright &copy;2009 / Steven Shane Steinolfson / All Rights Reserved / <a href="cooksharerepeat.com">www.cooksharerepeat.com</a></p>
    </footer>
  </div> 
</div>
</body>
