<div id="primary">
<h3 style="display:inline;">Register to create your User Page</h3>
<hr/>
<div id="primary">
  <div class="row">
   <div class="col-xs-8 col-md-8">

     <!--LOGIN FORM
     <form ng-submit="sCtrl.login()">
      <h4>Login!</h4>
      <div class="form-group">
      <label>Email</label>
      <input ng-model="sCtrl.loginUser.email" required placeholder="Email" type="email" class="form-control" >
      </div>
      <div class="form-group">
      <label for="password">Password</label>
      <input ng-model="sCtrl.loginUser.password"required placeholder="Enter a password" type="password" class="form-control" >
      </div>
      <button type="submit">Login</button>
    </form> -->

<!--REGISTER FORM-->
    <form ng-submit="sCtrl.submitUser()">
    <div class="form-group">
    <label>First Name</label>
    <input ng-model="sCtrl.newUser.firstName" required placeholder="Name" type="text" class="form-control" >
    </div>
    <div class="form-group">
    <label>Last Name</label>
    <input ng-model="sCtrl.newUser.lastName" required placeholder="Name" type="text" class="form-control" >
    </div>
    <div class="form-group">
    <label>Email</label>
    <input ng-model="sCtrl.newUser.email" required placeholder="Email" type="text" class="form-control" >
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input ng-model="sCtrl.newUser.password" required placeholder="Create a password" type="password" class="form-control" >
    </div>
    <div class="form-group">
    <label>State</label>
    <input ng-model="sCtrl.newUser.state" required placeholder="Name" type="text" class="form-control" >
    </div>
    <div class="form-group">
    <label>Country</label>
    <input ng-model="sCtrl.newUser.country" required placeholder="Name" type="text" class="form-control" >
    </div>
    <div class="form-group">
    <label>Family Name</label>
    <input ng-model="sCtrl.newUser.family" required placeholder="Name" type="text" class="form-control" >
    </div>

    <div class="checkbox">
    </div>
    <button type="submit">Submit</button>

    </form>
  </div>
  <div id="secondary" class="col-xs-4 col-md-4">
    <div class="row">
     <h4>Our Families</h4>
      <ul>
       <li ng-repeat="family in sCtrl.familyList">
         <a href="#!/families/{{family._id}}">{{family.name}}</a>
      </ul>
     </div>
     <div class="row">
       <h4>Our Users:</h4>
        <ul>
          <li ng-repeat="user in sCtrl.users">
                <a href="#!/profiles/{{user._id}}">{{user.firstName}} {{user.lastName}} {{user.state}} {{user.country}}</a>
          </li>
        </ul>
     </div>
   </div>
 </div>
</div>



</div>

<!--THIS IS THE FORM TO COLLECT EMAIL -->
