<div id="primary">
<h3>Find your recipe!</h3>
 <div id="primary">
  <div class="row">
    <div class="col-xs-8 col-md-8">The picture in my head for this website is an overflowing recipe box that is hard to manage and hard to find the recipes you use more often.  This website is a place for those recipes to live! You can search and submit recipes for the rest of your family to see.  You can also register below to recieve weekly recipes right into your email. </div>
     <div id="secondary" class="col-xs-4 col-md-4">
      <div class="row">
       <h4>Our Families</h4>
        <ul>
         <li ng-repeat="family in sCtrl.familyList">
           <a href="#!/families/{{fam._id}}">{{family.name}}
        </ul>
       </div>
       <div class="row">
         <h4>Our Users:</h4>
          <ul>
            <li ng-repeat="user in sCtrl.users">
                  <a href="#!/profiles/{{user._id}}">{{user.firstName}}  {{user.lastName}} || {{user.family.name}}</a>
            </li>
          </ul>
       </div>

      </div>
    </div>
  </div>

<!--RETURN FROM SUBMIT CONTROLLER-->
<div id="primary">
 <div class="row">
   <div class="col-xs-8 col-md-8">
   <h3>Most recent recipe submitted</h3>
    <ul>
      <hr/>
      <li ng-repeat="recipe in sCtrl.recipes">
      <a href=""></a></li>
      <b>Name:</b> {{"" + recipe.name}} <br>
      <b>Creator:</b> {{"" + sCtrl.getRecipe.creator}} <br>
      <text><b>Email:</text></b><a href="mailto:sssteiny21@gmail.com">{{sCtrl.getRecipe.email}}</a><br>
      <b>Ingredients:</b>{{"" + sCtrl.getRecipe.ingredients}} <br>
      <b>Directions:</b>{{"" + sCtrl.getRecipe.directions}} <br>
      </li>
      <hr/>
     </ul>
   <h3>Popular Recipes</h3>
     <ul>
      <li ng-repeat="recipe in sCtrl.recipes">
      <b>Name:</b>{{"" + recipe.name}} <br>
      <b>Creator:</b>{{"" + recipe.creator}} <br>
      <text><b>Email:</text></b><a href="mailto:sssteiny21@gmail.com">{{recipe.email}}</a><br>
      <b>Ingredients:</b>{{"" + recipe.ingredients}} <br>
      <b>Directions:</b>{{"" + recipe.directions}}<br>
      </li>
     </ul>
  </div>
 </div>
</div>
<hr/>

  <!--MOST POPULAR RECIPE-->
<div id="primary">
  <div class="row">
   <div class="col-xs-8 col-md-8">
     <hr/>
      <h3>Recipe of the month!!</h3>
      <h3>Steingrimur's Corn and Black Bean Salsa </h3>
    <ul>
    <dl>
    <dt></dt>
<dd>Home Grown Tomatoes and Peppers (Habanero, Jalepeno,Serrano,Chili, Cherry Bomb Thai, Heat Wave, Hungarian Wax, 6 kinds of sweet peppers.)<br/>
Corn<br/>
Black Beans<br/>
Tomato Paste<br/>
Onions<br/>
Salt<br/>
Red Wine Vinegar<br/>
Brown Sugar<br/>
Lime Juice<br/>
Spices</dd>
     </ul>
     </dl>
   </div>
 </div>
</div>

</div>
