<div id="primary">
  <h3>Submit your recipe!</h3>
<br/>
  <div id="primary">
   <div class="row">
    <div>
      <form ng-submit="sCtrl.addRecipe()" class="inline form col-xs-8 col-md-8">
        <table width="400">
          <tbody>
            <tr>
            <td width="100">Recipe Name:</td>
             <td><input
                 ng-model="sCtrl.newRecipe.name"
                 class="form-control"
                 type="text"
                 placeholder="text-holder">
             </td>
            </tr>
            <tr>
            <td width="100">Creator:</td>
             <td><input
                 ng-model="sCtrl.newRecipe.creator"
                 class="form-control"
                 type="text"
                 placeholder="text-holder">
             </td>
            </tr>
            <tr>
            <td width="100">Your Email:</td>
             <td><input
                 ng-model="sCtrl.newRecipe.email"
                 class="form-control"
                 type="text"
                 placeholder="text-holder">
             </td>
            </tr>
            <tr>
            <td height="200">Your Ingredients:</td>
              <td>
              <textarea
                 ng-model="sCtrl.newRecipe.ingredients"
                 class="form-control" rows="15" columns="90"
                 type="text"
                 placeholder="text-holder"></textarea>
              </td>

            </tr>
            <tr>
            <td height="200">Directions:</td>
              <td>
              <textarea
                 ng-model="sCtrl.newRecipe.directions"
                 class="form-control" rows="15" columns="90"
                 type="text"
                 placeholder="text-holder"></textarea>
              </td>
            </tr>

        </tbody>
       </table>
        <button>Submit</button>
     </form>
  <br/>

   </div>

   <div id="secondary" class="col-xs-4 col-md-4">
     <div class="row">
      <h4>Our Families</h4>
       <ul>
        <li ng-repeat="family in sCtrl.familyList">
          <a href="#!/families/{{family._id}}">{{family.name}}
       </ul>
      </div>
      <div class="row">
        <h4>Our Users:</h4>
         <ul>
           <li ng-repeat="user in sCtrl.users">
                 <a href="#!/profiles/{{user._id}}">{{user.firstName}}  {{user.lastName}} || {{user.family.name}}</a>
           </li>
         </ul>
      </div>

     </div>
   </div>
 </div>



</div>
